<span class="product span12">
  <span class="span1 list-id"><%=product.id%></span>
  <span class="span1 list-code"><%=product.code%></span>
  <span class="span3 list-name"><%=product.name%></span>
  <span class="span1 list-price"><%=product.price%></span>
  <span class="span1 list-quantity"><%=product.quantity%></span>
  <a class="span1 list_item_edit" id="<%= product.id %>"><i class="icon-edit"></i></a>
</span>
