<div class='container'>
  <ul class='nav nav-pills'>
    <li>
      <%= link_to "Bill", new_bill_path %>
    </li>
    <li class="active">
      <%= link_to "Products list", products_list_products_path%>
    </li>
    <li>
      <%= link_to "Products management", products_path %>
    </li>
  </ul>
</div>
<div class="container">
<% @products.each do |product|%>
  <span class="product span12">
    <span class="span2 list-code"><%=product.code%></span>
    <span class="span3 list-name"><%=product.name%></span>
    <span class="span2 list-price"><%=product.price%></span>
    <span class="span1 list-quantity"><%=product.quantity%></span>
  </span>
<%end%>
</div>

